@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #333333;
}

header {
    background-color: #fff;
    padding: 1em 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 75px;
    height: auto;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav li a {
    text-decoration: none;
    color: black;
    font-weight: 600; /* Give it a slight boldness */
}

.button, .btn {
    background-color: #0033A0;
    color: #ffffff;
    padding: 0.5em 1em;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
    border-radius: 5px; /* Rounded edges for a modern touch */
}

.button:hover, .btn:hover {
    background-color: #0051BF;
}

a:hover {
    text-decoration: underline;
}

a {
    color: #0056b3;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    color: #0033A0;
    font-weight: 600; /* Heavier weight for headings */
}

@media screen and (max-width: 768px) {
    header, footer, .main-content {
        padding: 20px;
    }
    img {
        max-width: 100%;
    }
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5em;
    margin-bottom: 3em;
    padding: 0 5%;
}

.left-column {
    flex: 50%;
    text-align: right;
    padding-right: 2em;
}

.right-column {
    flex: 50%;
    padding-left: 2em;
}

.right-column img {
    max-width: 70%;
    margin: auto;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 3em 5%;
    align-items: center;
    gap: 1em;
}

.feature {
    text-align: center;
}

.feature img {
    max-width: 100%;
}

.feature h2 {
    margin-top: 1em;
}

footer {
    background-color: #fff;
    padding: 1em 5%;
    margin-top: auto;
}

.fas {
    display: block;
    text-align: center;
    margin-top: 1em;
    font-size: 2em;
}
