body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

header {
    background-color: #fff;
    padding: 1em 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #e5e5e5;
}

header .logo {
    width: 75px;
    height: auto;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav li a {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease-in-out;
}

nav li a:hover {
    text-decoration: underline;
}

.button {
    background-color: blue;
    color: white;
    padding: 0.7em 1.5em;
    text-decoration: none;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6em;
    margin-bottom: 6em;
    padding: 0 5%;
}

.left-column {
    flex: 50%;
    text-align: right;
    padding-right: 2em;
}

.right-column {
    flex: 50%;
    padding-left: 2em;
}

.right-column img {
    max-width: 70%;
    margin: auto;
}

.features {
    display: flex;
    justify-content: space-between;
    padding: 2em 5%;
    margin-top: 4em; /* Added space between main content and featured content */
}

.feature h2 {
    margin-top: 0;
}

footer {
    background-color: #f8f8f8;
    padding: 1em 5%;
    margin-top: auto;
    padding-top: 2em;
}

@media screen and (max-width: 768px) {
    .header, .footer, .main-content {
        padding: 20px;
    }
    img {
        max-width: 100%;
    }
}
